*{
	margin:0;
	padding:0;
}
body{
	margin:0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 19px;
	color: #2874A6 ;
	line-height: 1.6;

}

#showcase{
	background-image: url('https://www.pexels.com/photo/asphalt-dark-dawn-endless-531321.jpg');
	height :100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	
	justify-content: center;
	align-items: center;
	padding:0 20px;
}
