*{
	margin:0;
	padding:0;
}
body{
	margin:0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 19px;
	color:#F2F3F4;
	line-height: 1.6;

}

#showcase{
	background-image: url('candle_glare_light_117920_6000x4000.jpg');
	height :100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column; 
	justify-content: center;
	align-items: center;
	padding:0 20px;
}
